@mixin font($font_name, $file_name, $weight, $style) {
   @font-face {
      font-family: $font_name;
      font-display: swap;
      src: url("../fonts/#{$file_name}.woff") format("woff"), url("../fonts/#{$file_name}.woff2") format("woff2");
      font-weight: #{$weight};
      font-style: #{$style};
   }
}

@import "fonts";
body {
   background-color: rgb(221, 133, 74);
}

.like1 {
   padding: 50px;
}
.like2 {
   padding: 50px;
   display: grid;
   grid-template: 1fr / 1fr 1fr 1fr;
   justify-items: center;
}
.first {
   padding: 20px;
}
.second {
   padding: 20px;
}
.third {
   padding: 20px;
}
.like3 {
   padding: 50px;
}
.error-input {
   padding: 30px;
   background-color: rgb(240, 156, 61);
}
